{% extends 'person_app/base.html' %} 

{% block content %}

<h5>Welcome, {{user}}! 👋</h5>

<hr />

<div class="card">
    <div class="card-header">
        <strong>Search the existing records</strong>
    </div>
    <div class="card-body">
        <form method="get" autocomplete="off" action = "{% url 'filter_record' %}">
          {{filtersform}}
          <button class="btn btn-primary" type="submit">
            Search
          </button>
        </form>
      </div>
  </div>
  <br>

  
  {% if querysets %}
  <h4> Search Results : </h4>
    <table class="table table-hover table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Date of Birth</th>
        </tr>
        </thead>
        <tbody>
          {% for queryset in querysets %}
          <tr>
            <td>{{queryset.id}}</td>
            <td>{{queryset.first_name}}</td>
      
            <td>{{queryset.last_name}}</td>
      
            <td>{{queryset.age}}</td>
      
            <td>{{queryset.email_id}}</td>
            <td>{{queryset.phone_number}}</td>
            <td>{{queryset.date_of_birth}}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
  {% endif %}
  {% endblock %}